* {
    margin: 0;
    padding: 0;

}

body{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота равная высоте окна браузера */
    margin: 0;

}

.input-wrapper{
    
}

.calc-wrapper{
    min-width: 300px;
    max-width: 500px;
    height: 500px;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-right: 0px;  
    margin-bottom: 50px;
}