* {
    margin: 0;
    padding: 0;

}

.header_main {
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: black;
}

.button_container {
    display: flex;
    /* Это распределит кнопки равномерно по контейнеру * */
    justify-content: space-between;

}

.button_header {
    cursor: pointer;
    margin: 0 5px;
    width: 485px;
    margin-top: 7px;
    padding: 20px;
    background-color: #171717;
    color: #fff8f8c1;
    border: none;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

}

/* открючили подствечивание другим цветом */
.button_header a {
    text-decoration: none;
    /* Убираем подчеркивание */
    color: inherit;
    /* Наследуем цвет текста от родительского элемента */
}

body {
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(240, 248, 255, 0.905);
}

.main_img {
    margin-top: 100px;
    margin-left: 50px; 
    float: left; /* Выравнивание изображения влево */
    height: 670px;
    width: auto;
    margin-right: 20px; /* Отступ справа для текста */
    margin-bottom: 20px; /* Отступ снизу для контейнера текста */
}

.about_band_info {
    text-align: center; 
    padding-top: 100px;
    font-size: 25px;
    margin-right: 20px;
    text-align: justify; /* Выравнивание текста по ширине */
    overflow: hidden; /* Очистка обтекаемых элементов */

}

.container_for_cards {
    margin-top: 80px;
    position: relative;
    flex-direction: column; /* Карточки будут располагаться вертикально */
    align-items: flex-end;
} 

.cart_1 {
    width: 400px;
    height: 500px;
    border: 2px solid #b8bfca6b;
    border-radius: 10px;
    margin: 50px auto;
    font-size: 22px;
    align-items: center;  
    padding: 80px;
    overflow: hidden;
    
} 

.block_1{
    position: absolute;
    right: 1200px;
}

.block_2{
    position: absolute;
    top: 620px;
    left: 750px;
}

.block_3{
    position: absolute;
    left: 1270px;
}

.img_rob_swire img {
    max-width: 250px;
    height: auto;
    margin-left: 5px;
    margin-top: 5px;
}

.user-info {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.user-info p {
    text-align: center;
    font-size: 23px;
}



